.pure-js-carousel {
  overflow: hidden;
}

.pure-js-carousel-list:before,
.pure-js-carousel-list:after {
  content: "";
  display: table;
}

.pure-js-carousel-list:after {
  clear: both;
}

.pure-js-carousel-slide {
  float: left;
}
